*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-image: url("./assets/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

/* Header section*/
#navContainer {
    background:linear-gradient( to right, rgb(65, 86, 110), rgb(123, 139, 159),rgb(65, 86, 110));
    box-shadow: 10px 10px 25px lightslategray;
    padding: 10px;
}

#myName {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px rgb(65, 86, 110);
    padding-right: 22%;
}


#sectionLink {
    font-size: 25px;
    font-weight: bold;
    padding: 0 1.5%;
    color: ghostwhite;
}

#sectionLinkActive {
    font-size: 30px;
    font-weight: bold;
    padding: 1.5%;
    color: ghostwhite;
    text-shadow: 5px 5px rgb(65, 86, 110);
}

#sectionLink:hover {
    cursor: pointer;
    background-color: transparent;
}

#sectionLinkActive:hover {
    font-size: 30px;
    font-weight: bold;
    padding: 1.5%;
    color: ghostwhite;
    background-color: transparent;
}


/* About me section*/
#aboutMeContainer{
    background-color: transparent;
    margin: 25px 10px;
    padding: 10px;
    height: 65vh;
}

#aboutMeCard{
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 10px 10px 25px lightslategray;
}

#aboutMeHeader {
    background:linear-gradient( to right, rgb(166, 185, 206), lightsteelblue, rgb(166, 185, 206));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 30px;
    padding-left: 5%;
}

#aboutMeContent {
    padding: 2% 5%;
    height: fit-content;
}

#profileImg {
    max-width: fit-content;
    max-height: 200px;
    float: left;
    border-radius: 20px;
}

#bio {
    margin: 15px;
    display: flex;
    padding-left: 20px;
}

#quote {
    font-weight: bold;
}

/* Contact me section*/
#contactCard{
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 10px 10px 25px lightslategray;
}

#contactContainer{
    background-color: transparent;
    margin: 25px 10px;
    padding: 10px;
    height:65vh;

}

#cardHeader {
    background:linear-gradient( to right, rgb(166, 185, 206), lightsteelblue, rgb(166, 185, 206));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 30px;
}

.field {
    text-align: center;
    padding: 0 30%;
}

.input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#textInput {
    font-family: Arial, Helvetica, sans-serif;
}

#textareaContainer {
    text-align: center;
    padding: 0 10%;
}

#submitButton {
   margin: 15px;
   font-weight: bold;
   padding: 5px 20px;
   font-size: 15px;
   border-radius: 8px;
   border: none;
   background-color: rgb(148, 177, 216);
   transition-duration: 0.4s;
}

#submitButton:hover {
    background-color: rgb(78, 135, 211);
    color: white;
    cursor: pointer;
}

/* Portfolio section*/
#portfolioContainer{
    background-color: transparent;
    margin: 25px 10px;
    padding: 10px;
}

#portfolioCard{
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 10px 10px 25px lightslategray;
    height: fit-content;
}

#portfolioHeader {
    background:linear-gradient( to right, rgb(166, 185, 206), lightsteelblue, rgb(166, 185, 206));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 30px;
    padding-left: 5%;
}

#portfolioContent {
    padding: 2% 3%;
    display: flex;
}

#projects{
    width: 330px;
    margin: 3%;
}

#projectCards{
    box-shadow: 5px 5px 10px lightslategray;
}
.projectTitle {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px rgb(65, 86, 110);
}

.projectLink {
    color: white;
    text-shadow: 3px 3px rgb(65, 86, 110);
    font-size: 12px;;
}

.projectLink:hover {
    cursor: pointer;
    color: white;
    text-shadow: 3px 3px rgb(65, 86, 110);
    font-size: 12px;;
}

#cardBackground {
    background:linear-gradient( to right, rgb(65, 86, 110), rgb(123, 139, 159),rgb(65, 86, 110));
}

/* Footer section*/
#footerContainer {
    background:linear-gradient( to right, rgb(65, 86, 110), rgb(123, 139, 159),rgb(65, 86, 110));
    height: fit-content;
    padding: 25px 0;
}

#footerLinks {
    margin: 0 37%;
    padding: 10px 20px;
}

#githubLink {
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite;
}

#githubLink:hover {
    cursor: pointer;
}

#linkedinLink {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5%;
    color: ghostwhite;
}

#linkedinLink:hover {
    cursor: pointer;
}

#otherLink {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5%;
    color: ghostwhite;
}

#otherLink:hover {
    cursor: pointer;
}

.footerLinks {
    padding: 0 5px;
}

/* Resume section*/
#resumeContainer{
    background-color: transparent;
    margin: 25px 10px;
    padding: 10px;
}

#resumeCard{
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 10px 10px 25px lightslategray;
}

#resumeHeader {
    background:linear-gradient( to right, rgb(166, 185, 206), lightsteelblue, rgb(166, 185, 206));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 30px;
    padding-left: 5%;
}

#resumeContent {
    padding: 2% 5%;
    height: fit-content;
    border-style: solid;
    margin: 1% 10%;
    border-color: lightslategray;
    border-width: 0.5px;
    box-shadow: 10px 10px 25px lightslategray;
}

#resumeTitleContainer {
    background:linear-gradient( to right, ghostwhite, lightsteelblue, ghostwhite);
    display: flex;
    padding-left: 20px;
    height: 50px;
    padding: 2%;
    text-align: center;
}

#resumeName {
    margin: 15px;
    display: flex;
    padding: 5px 20% 8px 15%;
    font-size: 35px;
    border-bottom: solid ;
    border-bottom-color: rgb(19, 96, 127);
    font-weight: bold;
}

#resumeSection {
    margin: 15px;
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: solid ;
    border-bottom-color: rgb(19, 96, 127);
    height: fit-content;
}

#resumeSectionEnd {
    margin: 15px;
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    height: fit-content;
}

#resumeTitle {
    font-weight: bold;
    text-align: center;
    color:rgb(19, 96, 127);
    padding: 0 18%
}

.skillsList {
    font-size: 11px;
    font-weight: bold;
    padding: 2%;
   
   }

.professionalSkillsList {
    font-size: 11px;
   
   }

.expereinceJob {
    font-size: 15px;
    font-weight: bold;
   
   }

.experienceInfo {
    font-size: 11px;
   
   }

.experienceLocation {
    font-size: 12px;
    padding-bottom: 10px;
   
   }

.education {
    font-size: 14px;
    padding-bottom: 10px;
}

.resumeFontColor {
    color:rgb(42, 54, 59);
}

.skillsTitles {
    font-weight: bold;
}

#resumeSectionTitle {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#careerObjective {
    margin: 5px;
    padding-bottom: 5px;
    max-width: 490px;
    font-size: 11px;
}

#downloadButton {
    margin: 15px 15%;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(148, 177, 216);
    transition-duration: 0.4s;
 }
 
 #downloadButton:hover {
     background-color: rgb(78, 135, 211);
     color: white;
     cursor: pointer;
 }


 @media (max-width: 800px) {
    #myName {
        font-size: 25px;
        padding-right: 20%;
    }
    #sectionLink {
        font-size: 18px;
        font-weight: bold;
        display: flex;

    }
    #sectionLinkActive {
        font-size: 20px;
        font-weight: bold;
        display: flex;
    }
    #sectionLink:hover {
        font-size: 18px;

    }
    #sectionLinkActive:hover {
        font-size: 20px;
    }

    #aboutMeHeader {
        font-size: 25px;
    }
    
    #profileImg {
        max-height: 200px;

    }
    #quote {
        font-size: 13px;
    }

    #bioText {
        font-size: 13px;
    }

    #titleText {
        font-size: 25px;
    }
    .projectTitle {
        font-size: 15px;
    }
    .projectLink {
        font-size: 8px;
    }
    #resumeTitle {
        font-size: 10px;
    }
    #downloadButton {
        font-size: 12px;

     }

     .resumeFontColor{
        font-size: 25px;
     }
     #resumeSectionTitle{
        font-size: 13px;
        padding:0;
     }
     .skillsList{
        font-size: 10px;
        padding-right: 50px;
     }
     #careerObjective{
        font-size: 9px;
        padding-right: 5px;
     }
     .skillsTitles{
        font-size: 10px;
        padding-left: 10px;
     }
     .professionalSkillsList{
        font-size: 7px;
        padding-left: 10px;
     }
     .expereinceJob{
        font-size: 10px;
        padding-left: 2px;
     }
     .experienceInfo{
        font-size: 9px;
        padding-left: 2px;
     }
     .experienceLocation{
        font-size: 8px;
        padding-left: 2px;
     }
     .education{
        font-size: 9px;
        padding-left: 3px;
     }
     #inputField{
        font-size: 10px;
        width: 200px;
        height: 30px;
     }
     #textInput{
        font-size: 10px;
        width: 400px;
        height: 30px;
     }
     #labels{
        font-size:11px;
     }
     #submitButton{
        font-size: 13px;
     }
  
     #githubLink{
        font-size:18px;
        padding-left:0%;
     }
       
     #linkedinLink{
        font-size:18px;
     }
     #otherLink{
        font-size:18px;
     }
  }

  
 @media (max-width: 490px) {
    #myName {
        font-size: 18px;
        padding-right: 2%;
    }
    #sectionLink {
        font-size: 15px;
        font-weight: bold;
        display: flex;

    }
    #sectionLinkActive {
        font-size: 16px;
        font-weight: bold;
        display: flex;
    }
    #sectionLink:hover {
        font-size: 15px;

    }
    #sectionLinkActive:hover {
        font-size: 16px;
    }

    #aboutMeHeader {
        font-size: 18px;
    }
    
    #profileImg {
        max-height: 150px;

    }
    #quote {
        font-size: 11px;
    }

    #bioText {
        font-size: 10px;
    }

    #titleText {
        font-size: 25px;
    }
    .projectTitle {
        font-size: 6px;
    }
    .projectLink {
        font-size: 3px;
    }
    #resumeTitle {
        font-size: 10px;
    }
    #downloadButton {
        font-size: 10px;

     }

     .resumeFontColor{
        font-size: 18px;
     }
     #resumeSectionTitle{
        font-size: 13px;
        padding:0;
     }
     .skillsList{
        font-size: 6px;
        padding-right: 50px;
     }
     #careerObjective{
        font-size: 6px;
        padding-right: 5px;
     }
     .skillsTitles{
        font-size: 8px;
        padding-left: 10px;
     }
     .professionalSkillsList{
        font-size: 7px;
        padding-left: 10px;
     }
     .expereinceJob{
        font-size: 7px;
        padding-left: 2px;
     }
     .experienceInfo{
        font-size: 6px;
        padding-left: 2px;
     }
     .experienceLocation{
        font-size: 6px;
        padding-left: 2px;
     }
     .education{
        font-size: 7px;
        padding-left: 3px;
     }
     #inputField{
        font-size: 10px;
        width: 200px;
        height: 30px;
     }
     #textInput{
        font-size: 10px;
        width: 400px;
        height: 30px;
     }
     #labels{
        font-size:11px;
     }
     #submitButton{
        font-size: 12px;
     }
     #githubLink{
        font-size:12px;
        padding-left:0%;
     }
       
     #linkedinLink{
        font-size:12px;
     }
     #otherLink{
        font-size:12px;
     }
  }

   
 @media (max-width: 320px) {
    #myName {
        font-size: 12px;
        padding-right: 0%;
    }
    #sectionLink {
        font-size: 10px;
        font-weight: bold;
        display: flex;

    }
    #sectionLinkActive {
        font-size: 11px;
        font-weight: bold;
        display: flex;
    }
    #sectionLink:hover {
        font-size: 10px;

    }
    #sectionLinkActive:hover {
        font-size: 11px;
    }
    #aboutMeContainer{
        background-color: transparent;
        margin: 2px 2px;
        padding: 8px;
        height: 60vh;
    }
    #portfolioContainer{
        background-color: transparent;
        margin: 1px 1px;
        padding: 8px;
        height: fit-content;
    }

    #columnsSet{
        display: inline-block;
    }

    #contactContainer{
        background-color: transparent;
        margin: 2px 2px;
        padding: 8px;
        height: 60vh;
    }
    #resumeContainer{
        background-color: transparent;
        margin: 2px 2px;
        padding: 8px;
        height: fit-content;
    }

    #aboutMeHeader {
        font-size: 10px;
    }
    
    #profileImg {
        max-height: 100px;

    }
    #quote {
        font-size: 8px;
    }

    #bioText {
        font-size: 7px;
    }

    #titleText {
        font-size: 10px;
    }
    .projectTitle {
        font-size: 2px;
    }
    .projectLink {
        font-size: 1px;
    }
    #resumeTitle {
        font-size: 5px;
    }
    #downloadButton {
        font-size: 5px;

     }

     .resumeFontColor{
        font-size: 10px;
     }
     #resumeSectionTitle{
        font-size: 9px;
        padding:0;
     }
     .skillsList{
        font-size: 3px;
        padding-right: 50px;
     }
     #careerObjective{
        font-size: 4px;
        padding-right: 5px;
     }
     .skillsTitles{
        font-size: 4px;
        padding-left: 10px;
     }
     .professionalSkillsList{
        font-size: 4px;
        padding-left: 10px;
     }
     .expereinceJob{
        font-size: 3px;
        padding-left: 2px;
     }
     .experienceInfo{
        font-size: 3px;
        padding-left: 2px;
     }
     .experienceLocation{
        font-size: 3px;
        padding-left: 2px;
     }
     .education{
        font-size: 3px;
        padding-left: 3px;
     }
     #inputField{
        font-size: 5px;
        width: 150px;
        height: 20px;
     }
     #textInput{
        font-size: 5px;
        width: 220px;
        height: 20px;
     }
     #labels{
        font-size:8px;
     }
     #submitButton{
        font-size: 6px;
     }
     #githubLink{
        font-size:8px;
        padding-left:0%;
     }
       
     #linkedinLink{
        font-size:8px;
     }
     #otherLink{
        font-size:8px;
     }
  }