*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-image: url("./assets/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

/* Header section*/
#navContainer {
    background:linear-gradient( to right, rgb(65, 86, 110), rgb(123, 139, 159),rgb(65, 86, 110));
    box-shadow: 10px 10px 25px lightslategray;
    padding: 10px;
}

#myName {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px rgb(65, 86, 110);
}

#navLinks {
    padding-left: 20%;
}

#aboutMeLink {
    font-size: 25px;
    font-weight: bold;
    padding: 0 7% 0 70%;
    color: ghostwhite;
    
}

#aboutMeLink:hover {
    cursor: pointer;
    background-color: transparent;
}

#portfolioLink {
    font-size: 25px;
    font-weight: bold;
    padding: 0 7%;
    color: ghostwhite;
}

#portfolioLink:hover {
    cursor: pointer;
    background-color: transparent;
}


#resumeLink {
    font-size: 25px;
    font-weight: bold;
    padding: 0 7%;
    color: ghostwhite;
}

#resumeLink:hover {
    cursor: pointer;
    background-color: transparent;
}

#contactMeLink {
    font-size: 25px;
    font-weight: bold;
    padding: 0 7%;
    color: ghostwhite;
}

#contactMeLink:hover {
    cursor: pointer;
    background-color: transparent;
}


/* About me section*/
#aboutMeContainer{
    background-color: transparent;
    margin: 25px 10px;
    padding: 10px;
    /* display: none; */
}

#aboutMeCard{
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 10px 10px 25px lightslategray;
}

#aboutMeHeader {
    background:linear-gradient( to right, rgb(166, 185, 206), lightsteelblue, rgb(166, 185, 206));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 30px;
    padding-left: 5%;
}

#aboutMeContent {
    padding: 2% 5%;
    height: fit-content;
}

#profileImg {
    max-width: fit-content;
    max-height: 200px;
    float: left;
    border-radius: 20px;
}

#bio {
    margin: 15px;
    display: flex;
    padding-left: 20px;
}

#quote {
    font-weight: bold;
}

/* Contact me section*/
#contactCard{
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 10px 10px 25px lightslategray;
}

#contactContainer{
    background-color: transparent;
    margin: 25px 10px;
    padding: 10px;
}

#cardHeader {
    background:linear-gradient( to right, rgb(166, 185, 206), lightsteelblue, rgb(166, 185, 206));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 30px;
}

.field {
    text-align: center;
    padding: 0 30%;
}

.input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#textInput {
    font-family: Arial, Helvetica, sans-serif;
}

#textareaContainer {
    text-align: center;
    padding: 0 10%;
}

#submitButton {
   margin: 15px;
   font-weight: bold;
   padding: 5px 20px;
   font-size: 15px;
   border-radius: 8px;
   border: none;
   background-color: rgb(148, 177, 216);
   transition-duration: 0.4s;
}

#submitButton:hover {
    background-color: rgb(78, 135, 211);
    color: white;
    cursor: pointer;
}

/* Portfolio section*/
#portfolioContainer{
    background-color: transparent;
    margin: 25px 10px;
    padding: 10px;
}

#portfolioCard{
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 10px 10px 25px lightslategray;
    height: fit-content;
}

#portfolioHeader {
    background:linear-gradient( to right, rgb(166, 185, 206), lightsteelblue, rgb(166, 185, 206));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 30px;
    padding-left: 5%;
}

#portfolioContent {
    padding: 2% 3%;
    display: flex;
}

#projects{
    width: 330px;
    margin: 3%;
}

#projectCards{
    box-shadow: 5px 5px 10px lightslategray;
}
.projectTitle {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px rgb(65, 86, 110);
}

.projectLink {
    color: white;
    text-shadow: 3px 3px rgb(65, 86, 110);
    font-size: 12px;;
}

.projectLink:hover {
    cursor: pointer;
    color: white;
    text-shadow: 3px 3px rgb(65, 86, 110);
    font-size: 12px;;
}

#cardBackground {
    background:linear-gradient( to right, rgb(65, 86, 110), rgb(123, 139, 159),rgb(65, 86, 110));
}

/* Footer section*/
#footerContainer {
    background:linear-gradient( to right, rgb(65, 86, 110), rgb(123, 139, 159),rgb(65, 86, 110));
    height: fit-content;
    padding: 25px 0;
}

#footerLinks {
    margin: 0 37%;
    padding: 10px 20px;
}

#githubLink {
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite;
}

#githubLink:hover {
    cursor: pointer;
}

#linkedinLink {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5%;
    color: ghostwhite;
}

#linkedinLink:hover {
    cursor: pointer;
}

#otherLink {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5%;
    color: ghostwhite;
}

#otherLink:hover {
    cursor: pointer;
}

.footerLinks {
    padding: 0 5px;
}

/* Resume section*/
#resumeContainer{
    background-color: transparent;
    margin: 25px 10px;
    padding: 10px;
}

#resumeCard{
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 10px 10px 25px lightslategray;
}

#resumeHeader {
    background:linear-gradient( to right, rgb(166, 185, 206), lightsteelblue, rgb(166, 185, 206));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 30px;
    padding-left: 5%;
}

#resumeContent {
    padding: 2% 5%;
    height: fit-content;
    border-style: solid;
    margin: 1% 10%;
    border-color: lightslategray;
    border-width: 0.5px;
    box-shadow: 10px 10px 25px lightslategray;
}

#resumeTitleContainer {
    background:linear-gradient( to right, ghostwhite, lightsteelblue, ghostwhite);
    display: flex;
    padding-left: 20px;
    height: 50px;
    padding: 2%;
    text-align: center;
}

#resumeName {
    margin: 15px;
    display: flex;
    padding: 5px 20% 8px 15%;
    font-size: 35px;
    border-bottom: solid ;
    border-bottom-color: rgb(19, 96, 127);
    font-weight: bold;
}

#resumeSection {
    margin: 15px;
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: solid ;
    border-bottom-color: rgb(19, 96, 127);
    height: fit-content;
}

#resumeSectionEnd {
    margin: 15px;
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    height: fit-content;
}

#resumeTitle {
    font-weight: bold;
    text-align: center;
    color:rgb(19, 96, 127);
    padding: 0 18%
}

.skillsList {
    font-size: 11px;
    font-weight: bold;
    padding: 2%;
   
   }

.professionalSkillsList {
    font-size: 11px;
   
   }

.expereinceJob {
    font-size: 15px;
    font-weight: bold;
   
   }

.experienceInfo {
    font-size: 11px;
   
   }

.experienceLocation {
    font-size: 12px;
    padding-bottom: 10px;
   
   }

.education {
    font-size: 14px;
    padding-bottom: 10px;
}

.resumeFontColor {
    color:rgb(42, 54, 59);
}

.skillsTitles {
    font-weight: bold;
}

#resumeSectionTitle {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#careerObjective {
    margin: 5px;
    padding-bottom: 5px;
    max-width: 490px;
    font-size: 11px;
}

#downloadButton {
    margin: 15px 15%;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(148, 177, 216);
    transition-duration: 0.4s;
 }
 
 #downloadButton:hover {
     background-color: rgb(78, 135, 211);
     color: white;
     cursor: pointer;
 }